<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toutes les Entités</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Toutes les Entités</h1>

        <!-- Départements -->
        <h2>Départements</h2>
        <ul>
            {% for entity in entities %}
                {% if "Department" in entity.object %}
                    <li>
                        {{ entity.subject }} - {{ entity.predicate }} - {{ entity.object }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Filières -->
        <h2>Filières</h2>
        <ul>
            {% for entity in entities %}
                {% if "Field" in entity.object %}
                    <li>
                        {{ entity.subject }} - {{ entity.predicate }} - {{ entity.object }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Étudiants -->
        <h2>Étudiants</h2>
        <ul>
            {% for entity in entities %}
                {% if "Student" in entity.object %}
                    <li>
                        {{ entity.subject }} - {{ entity.predicate }} - {{ entity.object }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>


        <!-- Cours -->
        <h2>Cours</h2>
        <ul>
            {% for entity in entities %}
                {% if "Course" in entity.object %}
                    <li>
                        {{ entity.subject }} - {{ entity.predicate }} - {{ entity.object }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- Lien de retour -->
        <a href="/">Retour à l'accueil</a>
    </div>
</body>
</html>